{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} Home {% endblock %}

{% block body %}
    {% for d in data %}
        {% if loop.index0 == 0 %}
            <p style='color:SeaGreen'>{{ d.name }} {{ d.action }} </p>
        {% else %}
            <p style='color:YellowGreen'>{{ d.name }} {{ d.action }} </p>
        {% endif %} 
    {% endfor %}  
{% endblock %}

{% block stylesheets %}
            {#{{ encore_entry_link_tags('app') }}#}
            
        {% endblock %}